body {
    background-color: #555;
}

.cabecalho {
    background-color: black;
    text-align: center;
    border: 2px;
    height: 60px;

}

.cabecalho a{
    color: rgb(173, 237, 122);
    text-decoration: none;
    margin-right: 10px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.card {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgb(9, 201, 31);
    padding: 15px;
    width: 250px;
}

.card p {
    margin: 5px 0;
    color: #555;
}